# docker run -v ~/git/miqa/prod:/etc/nginx/conf.d:ro --network=host nginx

upstream miqa2 {
  server 127.0.0.1:8000;
}

server {
  # Settings for local testing
  listen      8001;
  server_name localhost;

  # DJANGO_MIQA_URL_PREFIX=/miqa2
  location /miqa2/ {
    # MIQA_SERVER_PORT=8000
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Forwarded-Host $host;
    proxy_pass http://miqa2/;
  }
}
